<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/status_bar_color">
        <activity
            android:name=".MainActivityClasses.ShoppingBasket"
            android:exported="false" />
        <activity
            android:name=".MainActivityClasses.CustomerTransactionHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivityClasses.AdminSelectedItemActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivityClasses.CustomerSelectedItemActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivityClasses.CustomerList"
            android:exported="false" />
        <activity
            android:name=".MainActivityClasses.HomePage"
            android:exported="false" />
        <activity
            android:name=".AuthenticationClasses.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".AuthenticationClasses.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>